* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial Black";
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

.header {
    width: 1920px;
    height: 20%;
    background: #464646;
    color: white;
    text-align: center;
}

.main-content {
    background: green;
}

.container {
    position: absolute;
    text-align: center;
    font-size: 3.5rem;
    width: 840px;
    height: 80%;
    margin-left: 1080px;
}

.pictures {
    position: absolute;
    margin-left: 0px;
    height: 80%;
    width: 1080px;
}

#logo {
    position: absolute;
    margin-top: -1rem;
    margin-left: 1rem;
    height: 20rem;
    z-index: 2;
}

#pult-name {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    padding: 3rem;
}

#main-pic {
    height: 720px;
    width: 1080px;
}

.line {
    background-color: #464646;
    height: 0.4rem;
    width: 60%;
    margin-left: 20%;
}

.line2 {
    background-color: #464646;
    height: 0.4rem;
    width: 40%;
    margin-left: 30%;
    margin-top: -0.25rem;
}

.foods {
    padding-top: 4.6rem;
    color: #434343;
    height: 40%;
}

#food-price {
    text-align: center;
    font-weight: bold;
    font-size: 4.5rem;
    color: #434343;
}

.flag-container {
    position: absolute;
    width: 7rem;
    margin-top: 0.5rem;
    margin-left: 40rem;
    border: 1px solid black;
}

.flag {
    display: block;
    width: 100%;
    height: 100%;
}

p {
    padding: 0.5rem;
}

#close-flag {
    margin-left: 860px;
    margin-top: 50px;
    width: 200px;
}

#close-sign {
    text-align: center;
    margin-top: 14rem;
    font-size: 6rem;
    font-weight: bold;
    color: #464646;
}

.anim {
    animation-duration: 0.5s;
    animation-name: fade;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}